<%= form_with(model: battery, local: true) do |form| %>
  <% if battery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(battery.errors.count, "error") %> prohibited this battery from being saved:</h2>

      <ul>
      <% battery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :certification %>
    <%= form.text_field :certification %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order %>
  </div>

  <% # Listar sucursales y crear precio para cada una %>
  <h2>Sucursales</h2>
  <% Branch.all.each do |branch| %>
    <%= form.fields_for :battery_offerings do |offering| %>
      <div class="field">
        <%= branch.name %>
        <%= offering.label :price, 'Precio' %>
        <%= offering.text_field :price %>

        <%= offering.hidden_field :branch_id, value: branch.id
        %>
      </div>
    <% end %>
  <% end %>


  <h2>Agregar exámenes</h2>
  <div class="field">
    <%= form.label :exam_ids %>
    <% selected = battery.exams.collect { |e| e.id } %>
    <%= form.select :exam_ids,
                    options_from_collection_for_select(Exam.all, :id, :name, selected),
                    { include_blank: false, include_hidden: false },
                    multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
