<%= form_with(model: battery, local: true) do |form| %>
  <% if battery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(battery.errors.count, "error") %> prohibited this battery from being saved:</h2>

      <ul>
      <% battery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :certification %>
    <%= form.text_field :certification %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order %>
  </div>



  <h2>Crear exámenes</h2>
  <%= form.fields_for :exams do |f| %>
    <%= render 'exam_fields', f: f, battery: battery %>
  <% end %>
  <%= link_to_add_fields 'Agregar examen', form, :exams %>

  <h2>Agregar exámenes existentes</h2>
  <div class="field">
    <%= form.label :exam_ids %>
    <% selected = battery.exams.collect { |e| e.id } %>
    <%= form.select :exam_ids,
                    options_from_collection_for_select(Exam.all, :id, :name, selected),
                    { include_blank: false, include_hidden: false },
                    multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
