<%= form_with(model: battery, local: true) do |form| %>
  <% if battery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(battery.errors.count, "error") %> prohibited this battery from being saved:</h2>

      <ul>
      <% battery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :certification %>
    <%= form.text_field :certification %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order %>
  </div>

  <h2>Exámenes</h2>
  <%= form.fields_for :exams, form.object.exams.order(:order) do |f| %>
    <p>
      <%= f.label :name, 'Examen' %>
      <%= f.text_field :name %>

      <%= f.label :price, 'Precio' %>
      <%= f.text_field :price %>

      <% es = ExamSelection.find_by(exam: f.object, battery: battery) %>
      <%= f.fields_for :exam_selection, es do |builder| %>
        <%= builder.label :order %>
        <%= builder.text_field :order %>

        <%= builder.hidden_field :exam_id %>
        <%= builder.hidden_field :battery_id %>
      <% end %>
    </p>
  <% end %>

  <h2>Agregar Exámenes</h2>
  <div class="field">
    <%= form.label :exam_ids %>
    <% selected = battery.exams.collect { |e| e.id } %>
    <%= form.select :exam_ids,
                    options_from_collection_for_select(Exam.all, :id, :name, selected),
                    { include_blank: false, include_hidden: false },
                    multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
