<p id="notice"><%= notice %></p>

<h1><%= @battery.name %> (#<%= @battery.order %>)</h1>

<p>
  <em><%= @battery.certification %></em>
</p>

<h2>Exámenes</h2>
<%= form_with(model: @battery, local: true) do |f| %>
  <ol>
    <%= f.fields_for :exam_selections, @exam_selections do |builder| %>
      <li>
        <%= builder.object.exam.name %>
        <%= builder.number_field :order %>
      </li>
    <% end %>
  </ol>

  <%= f.submit 'Guardar orden' %>
<% end %>

<h2>Precios</h2>
<% @battery.battery_offerings.each do |offering| %>
  <p>
    <%= offering.branch.name %>: $<%= offering.price %>
  </p>
<% end %>


<%= link_to 'Edit', edit_battery_path(@battery) %> |
<%= link_to 'Back', batteries_path %>
