<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <hr />

  <h2>Pacientes</h2>
  <%= form.fields_for :patients do |f| %>
    <%= render 'patient_fields', f: f %>
  <% end %>
  <%= link_to_add_fields 'Agregar paciente', form, :patients %>

  <hr />

  <div class="field">
    <%= form.label :battery_ids %>
    <% # include_blank evita MOSTRAR la primera opción en blanco %>
    <% # include_hidden evita ENVIAR el primer valor en blanco en el hash de baterías %>
    <%= form.select :battery_ids,
                    options_from_collection_for_select(Battery.all, :id, :name),
                    { include_blank: false, include_hidden: false },
                    multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
