<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date, 'Fecha y hora' %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :exam_battery_ids %>
    <% selected = appointment.exam_batteries.collect { |eb| eb.id } %>
    <%= form.select :exam_battery_ids,
                    options_from_collection_for_select(ExamBattery.all, :id, :name, selected),
                    {
                      include_hidden: false
                    },
                    multiple: true %>
  </div>

  <h2>Datos del usuario</h2>
  <%= form.fields_for current_user.profile do |builder| %>
    <%= render "appointments/user_profiles/#{current_user.profile_type.underscore}", f: builder %>
  <% end %>

  <h2>Pacientes</h2>
  <%= form.fields_for :patients do |builder| %>
    <%= render 'patient_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields 'Agregar paciente', form, :patients %>

  <div class="actions" style="padding-top: 25px;">
    <%= form.submit %>
  </div>
<% end %>
