<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @appointment.user %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
