<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Batteries:</strong>
  <% @appointment.batteries.each do |battery| %>
    <%= link_to battery.name, battery %>,
  <% end %>
</p>

<h3>Pacientes</h3>
<ul>
  <% @appointment.patients.each do |patient| %>
    <li>
      <%= check_box_tag "report[patient_ids][]", patient.id, false, id: dom_id(patient), form: 'reports' %> <%= link_to patient.name, patient %> <br />
      <%= hidden_field_tag "report[appointment_id]", @appointment.id, form: 'reports' %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>

<%= form_with(model: @report, local: true, id: 'reports', url: bulk_create_reports_path) do |f| %>
  <% #f.hidden_field :patient_id, value: @appointment.patients.first.id %>
  <% #f.hidden_field :appointment_id, value: @appointment.id %>
  <% #f.hidden_field :completed, value: false %>
  <%= f.submit 'Generar informes' %>
<% end %>