<fieldset>
  <%= f.label :order %>
  <%= f.number_field :order %>

  <%= f.label :exam_battery_id %>
  <%= f.select :exam_battery_id,
                     options_from_collection_for_select(
                         @exam_batteries,
                         'id',
                         'name',
                         f.object.exam_battery_id
                     ) %>
  <br />
  <%= f.hidden_field :_destroy %>
  <p class="remove_fields" style="text-decoration: underline; color: red; cursor: pointer;">Eliminar</p>
</fieldset>