<%= form_with(model: exam, local: true) do |form| %>
  <% if exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.fields_for :exam_associations do |builder| %>
    <%= render 'exam_association_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields 'Agregar a una batería', form, :exam_associations %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
