<%= form_with(model: exam, local: true) do |form| %>
  <% if exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <h2>Campos</h2>
  <%= form.fields_for :form_fields do |f| %>
    <%= render 'form_field_fields', f: f %>
  <% end %>
  <%= link_to_add_fields 'Agregar campo', form, :form_fields %>

  <div class="actions" style="margin-top: 30px;">
    <%= form.submit %>
  </div>
<% end %>
