<%= form_with(model: exam, local: true) do |form| %>
  <% if exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <h2>Campos</h2>
  <%= form.fields_for :form_fields do |f| %>
    <%= render 'form_field_fields', f: f %>
  <% end %>
  <%= link_to_add_fields 'Agregar campo', form, :form_fields %>

  <h2>Agregar a batería(s)</h2>
  <div class="field">
    <%= form.label :battery_ids %>
    <% selected = exam.batteries.collect { |b| b.id } %>
    <% # include_blank evita MOSTRAR la primera opción en blanco %>
    <% # include_hidden evita ENVIAR el primer valor en blanco en el hash de baterías %>
    <%= form.select :battery_ids,
                    options_from_collection_for_select(Battery.all, :id, :name, selected),
                    { include_blank: false, include_hidden: false },
                    multiple: true %>
  </div>

  <div class="actions" style="margin-top: 30px;">
    <%= form.submit %>
  </div>
<% end %>
