<%= form_with(model: report, local: true, multipart: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Datos Paciente</h2>
  <%= form.fields_for :patient do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :rut %>
      <%= f.text_field :rut %>
    </div>

    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
  <% end %>

  <h2>Baterías</h2>
  <% report.batteries_with_exams.each do |hash| %>
    <% # cada elemento es un hash {battery: B, exams: [e1,e2,...]} %>
    <%= hash[:battery].name %>
    <ol>
      <% hash[:exams].each do |exam| %>
        <% # TODO: encontrar los form values que pertenecen a cada examen %>
        <li>
          <h3><%= exam.name %></h3>
          <ul>

            <% exam_form_values = report.form_values.where(form_field: exam.form_fields) %>
            <%= form.fields_for :form_values, exam_form_values do |f| %>
              <li>
                <div class="field">
                  <%= render "reports/fields/#{f.object.form_field.type.underscore.downcase}", f: f %>
                </div>
              </li>
            <% end %>

          </ul>
        </li>
      <% end %>
    </ol>
  <% end %>


  <h2>Conclusiones</h2>
  <div class="field">
    <%= form.label :conclusions %>
    <%= form.text_area :conclusions %>
  </div>

  <h2>Completar informe</h2>
  <div class="field">
    <%= form.check_box :completed, disabled: true %>
    <%= form.label :completed, 'Completado?', style: 'display:inline;' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
