<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Clinica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Mi perfil (#{current_user.email})", edit_user_registration_path %></li>
          <li><%= link_to 'Salir', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Registrarse', new_user_registration_path %></li>
          <li><%= link_to 'Iniciar Sesión', new_user_session_path %></li>
        <% end %>
      </ul>
      <ul>
        <li>
          <%= link_to 'Baterías', batteries_path %>
        </li>
        <li>
          <%= link_to 'Exámenes', exams_path %>
        </li>
        <li>
          <%= link_to 'Solicitudes', appointments_path %>
        </li>
        <li>
          <%= link_to 'Informes Médicos', reports_path %>
        </li>
        <li>
          <%= link_to 'Agendar hora', new_appointment_path, style: 'font-weight: bold;' %>
        </li>
      </ul>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
