<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Clinica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li>
          <%= link_to 'Baterías', batteries_path %>
        </li>
        <li>
          <%= link_to 'Exámenes', exams_path %>
        </li>
        <li>
          <%= link_to 'Solicitudes', appointments_path %>
        </li>
        <li>
          <%= link_to 'Informes Médicos', reports_path %>
        </li>
        <li>
          <%= link_to 'Agendar hora', new_appointment_path, style: 'font-weight: bold;' %>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
